{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>

<html style="font-size: 16px;">
  <head>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Sayt Yangiliklari, Sayt Yangiliklari, Sayt yangilandi 2022-yil, Barchani kirib kelayotgan2022-yil bilan tabriklayman!Yangi yilingiz muborak!">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Bosh sahifa</title>
    <script class="u-script" type="text/javascript" src="{% static 'main/js/jquery.js' %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static 'main/js/nicepage.js' %}" defer=""></script>

    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": ""
    </script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Главная">
    <meta property="og:type" content="website">
  </head>
  {% if user.is_authenticated %}
    <section id="carousel_4d04" class="u-carousel u-slide u-block-409f-1" data-u-ride="carousel" data-interval="5000">
        <ol class="u-absolute-hcenter u-carousel-indicators u-block-409f-2">
          <li data-u-target="#carousel_4d04" data-u-slide-to="0" class="u-active u-grey-30"></li>
          <li data-u-target="#carousel_4d04" class="u-grey-30" data-u-slide-to="1"></li>
        </ol>
        <div class="u-carousel-inner" role="listbox">
          <div class="u-active u-align-center u-carousel-item u-clearfix u-image u-shading u-section-1-1" src="" data-image-width="900" data-image-height="600">
            <div class="u-clearfix u-sheet u-sheet-1">
              <h1 class="u-text u-text-default u-title u-text-1">8-"A" sinf</h1>
              <p class="u-large-text u-text u-text-default u-text-variant u-text-2">Welcome to the website! Happy New Year! </p>
              <a href="https://t.me/aSinfNews" class="u-btn u-button-style u-palette-2-base u-btn-1" target="_blank">Subscribe to Telegram channel</a>
            </div>
          </div>
          <div class="u-align-center u-carousel-item u-clearfix u-image u-shading u-section-1-2" src="" data-image-width="1000" data-image-height="667">
            <div class="u-clearfix u-sheet u-sheet-1">
              <h1 class="u-text u-text-default u-title u-text-1">8-"A" sinf</h1>
              <p class="u-large-text u-text u-text-default u-text-variant u-text-2">Welcome to the website! Happy New Year! </p>
              <a href="https://t.me/aSinfNews" class="u-btn u-button-style u-palette-2-base u-btn-1" target="_blank">Subscribe to Telegram channel</a>
            </div>
          </div>
        </div>
        <a class="u-absolute-vcenter u-carousel-control u-carousel-control-prev u-text-grey-30 u-block-409f-3" href="#carousel_4d04" role="button" data-u-slide="prev">
          <span aria-hidden="true">
            <svg viewBox="0 0 477.175 477.175"><path d="M145.188,238.575l215.5-215.5c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-225.1,225.1c-5.3,5.3-5.3,13.8,0,19.1l225.1,225
                      c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1L145.188,238.575z"></path></svg>
          </span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="u-absolute-vcenter u-carousel-control u-carousel-control-next u-text-grey-30 u-block-409f-4" href="#carousel_4d04" role="button" data-u-slide="next">
          <span aria-hidden="true">
            <svg viewBox="0 0 477.175 477.175"><path d="M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5
                      c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z"></path></svg>
          </span>
          <span class="sr-only">Next</span>
        </a>
    </section>
    
    <section class="u-clearfix u-expand-resize u-image u-shading u-section-2" id="sec-85b6" data-image-width="3008" data-image-height="2000">
        <div class="u-clearfix u-sheet u-sheet-1">
          <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
              <div class="u-layout-row">
                <div class="u-container-style u-image u-layout-cell u-left-cell u-size-30 u-image-1" src="" data-image-width="2480" data-image-height="3508">
                  <div class="u-container-layout u-container-layout-1"></div>
                </div>
                <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
                  <div class="u-container-layout u-valign-middle u-container-layout-2">
                    <h1 class="u-text u-title u-text-1">8-"A" sinf</h1>
                    <p class="u-large-text u-text u-text-variant u-text-2">
                      <span style="font-weight: 700;">Kashakadarya region of the Republic of &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Uzbekistan<br>Kitab District 1-IDUM 8- "A" class website<br>
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
                        Welcome!
                      </span>
                      <br>
                      <br>
                      <span style="font-weight: 700;">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Class leader:
                        &nbsp;
                        Sarvinoz Usmonova<br>Telephone number: &nbsp; 
                        +998 97 381 76 16 
                      </span>
                      <span style="font-weight: 700;"> </span>
                      
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
  {% else %}

    <center>
      <h1>Sign up first to use the site !!</h1>
      <a class="btn btn-outline-info" href="{% url 'login' %}">Sign In</a>
      <a class="btn btn-outline-danger" href="{% url 'signup' %}">Sign Up</a>
    </center><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endif %}
</html>

{% endblock content %}